services:

    Nzo\ElasticQueryBundle\Query\ElasticQuerySearch: '@nzo.elastic_query.search'

    nzo.elastic_query.index_tools:
        class: Nzo\ElasticQueryBundle\Service\IndexTools
        arguments:
            - '%nzo_elastic_query.index_configs%'
            - '%nzo_elastic_index.prefix%'

    nzo.elastic_query.search_manager:
        class: Nzo\ElasticQueryBundle\Manager\SearchManager
        arguments:
            - '@nzo.elastic_query.index_tools'

    nzo.elastic_query.query_validator:
        class: Nzo\ElasticQueryBundle\Validator\QueryValidator
        arguments:
            - '@doctrine.orm.default_entity_manager'
            - '@nzo.elastic_query.index_tools'

    nzo.elastic_query.schema_validator:
        class: Nzo\ElasticQueryBundle\Validator\SchemaValidator

    nzo.elastic_query.search_access_checker:
        class: Nzo\ElasticQueryBundle\Security\SearchAccessChecker
        arguments:
            - '@security.authorization_checker'

    nzo.elastic_query.search:
        class: Nzo\ElasticQueryBundle\Query\ElasticQuerySearch
        arguments:
            - '@nzo.elastic_query.query_validator'
            - '@nzo.elastic_query.schema_validator'
            - '@nzo.elastic_query.search_manager'
            - '@nzo.elastic_query.search_access_checker'
            - '@fos_elastica.manager'
            -
                - '%nzo_elastic_index.default_page_number%'
                - '%nzo_elastic_index.limit_per_page%'
                - '%nzo_elastic_index.items_max_limit%'
